:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #1a1b1e;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}

html[data-mantine-color-scheme="light"] body {
  background-color: #ffffff;
}

html[data-mantine-color-scheme="dark"] body {
  background-color: #1a1b1e;
}

a {
  color: inherit;
}
